@import 'normalize.css';

.page-Contattaci .riquadro {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  top: 27%;
  width: 40%;
  margin-left: -20%;
  border-radius: 27px;
  background: rgba(171, 220, 255, 0.80);
  text-align: center;
  word-wrap: break-word;
  height: 60%;
  overflow-y: auto;
}
.root-Mobile .page-Contattaci .riquadro {
  position: relative;
  padding: 20px;
  padding-bottom: 30px;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.page-Contattaci .riquadro .contenuto {
  float: left;
}

.page-Contattaci .riquadro .separatore {
  width: 5vw;
}

.page-Contattaci .riquadro h3, h1 {
  text-align: left;
}

.page-Contattaci .riquadro i {
  font-size: 2.1em;
}
.root-Mobile .page-Contattaci .riquadro i {
  margin-top: 3%;
}

.page-Contattaci .riquadro p {
  margin-top: 5%;
  font-size: calc(0.35em + 1.23vmax);
  font-weight: bold;
}
.root-Mobile .page-Contattaci .riquadro p {
  font-size: calc(0.9em + 0.9vmax);
}

.root-Desktop .page-Contattaci .riquadro br {
  margin-top: 5px;
}

.page-Contattaci .mappa {
  border: 0;
  border-radius: 27px;
  width: 100%;
  height: 72%;
}
.root-Mobile .page-Contattaci .mappa {
  margin-top: -3%;
}

/* Scrollbar */
  .page-Contattaci ::-webkit-scrollbar {
    width: 10px;
  }
  .page-Contattaci ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
