@import 'normalize.css';

.page-Contattaci .riquadro {
  display: flex;
  padding: 20px;
  padding-bottom: 25px;
  position: relative;
  width: 800px;
  height: 500px;
  margin-top: 74px;
  border-radius: 27px;
  background: rgba(171, 220, 255, 0.80);
  text-align: center;
  word-wrap: break-word;
}
.root-Mobile .page-Contattaci .riquadro {
  flex-direction: column;
  position: absolute;
  top: 2%;
  height: 737px;
  width: 90%;
  max-width: 370px;
  min-width: 280px;
  left: 0; 
  right: 0; 
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
  overflow-y: hidden;
}

.root-Desktop .page-Contattaci .riquadro .contatti {
  width: 315px;
}

.page-Contattaci .riquadro .contenuto {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  background: rgba(167, 218, 255, 0.8);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(208, 234, 255, 0.8);
}

.page-Contattaci .riquadro .contenuto div {
  width: 100%;
  white-space: nowrap;
}

.page-Contattaci .riquadro h1 {
  text-align: left;
  margin-left: 5px;
}

.page-Contattaci .riquadro h3 {
  margin-left: 5%;
}

.page-Contattaci .riquadro h3, p {
  text-align: right;
}

.page-Contattaci .riquadro i {
  font-size: 1.7em;
}

.root-Desktop .page-Contattaci .riquadro .divMappa {
  flex-grow: 100;
  margin-left: 4%;
  margin-right: 1%;
  width: 300px;
}
.root-Mobile .page-Contattaci .riquadro .divMappa {
  margin-top: 15px;
}

.page-Contattaci .mappa {
  border: 0;
  border-radius: 27px;
  width: 100%;
  height: 79%;
}

.page-Contattaci .repositoryLink {
  position: absolute;
  bottom: 30px;
  color: black;
  border-width: 10px;
  text-decoration: none;
  font-weight: 600;
}

.page-Contattaci .repositoryLink i {
  font-size: 16px;
  position: absolute;
  right: -18px;
  top: -2px;
}

.page-Contattaci .repositoryLink p:hover,
.page-Contattaci .repositoryLink i:hover {
  text-decoration: underline;
}

.page-Contattaci .noResource {
  width: 100%;
}

.page-Contattaci .noResource h1 {
  text-align: center;
  width: 100%;
}
