@import 'normalize.css';

.body-Home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: hidden;
  background: url(./assets/bg2.png);
  background-size: cover;
  background-position: right top;
  background-repeat: repeat-x;
}

.root-Mobile .page-Home {
  display: flex;
  justify-content: center;
}

.root-Desktop .page-Home .cropped-bg {
  position: absolute;
  right: 315px;
  top: 74px;
  z-index: -2;
  height: 1006px;
}

.root-Desktop .page-Home .separatore {
  width: 59px;
  height: 1100px;
  transform: rotate(-18deg);
  position: absolute;
  right: 944px;
  top: 35px;
  background: #ffffff;
  z-index: -1;
}

.root-Mobile .page-Home .cropped-bg,
.root-Mobile .page-Home .separatore {
  display: none;
}

.page-Home .titolo {
  position: absolute;
  color: #FFF;
  font-family: Epilogue;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.root-Desktop .page-Home .titolo {
  top: 15%;
  right: 510px;
  font-size: 2.8em;
  text-align: center;
}
.root-Mobile .page-Home .titolo {
  top: 18%;
  font-size: calc(1em + 4vw);
}

.page-Home .titolo h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.root-Desktop .page-Home .titolo h1 {
  position: absolute;
  top: 25px;
  left: 15px;
  font-size: 3.8em;
}
.root-Mobile .page-Home .titolo h1 {
  margin-left: 15px;
  margin-top: -5%;
  font-size: 2.4em;
}

.page-Home .evidenziatore {
  width: 100%;
  background: rgba(38, 86, 255, 0.60);
}
.root-Desktop .page-Home .evidenziatore {
  height: 199px;
  position: absolute;
  right: 0px;
  top: 49%;
  z-index: -3;
}
.root-Mobile .page-Home .evidenziatore {
  position: relative;
  margin-top: 37%;
  padding: 20px;
}

.page-Home .descrizione {
  color: #FFF;
  text-align: center;
  font-family: Epilogue;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.root-Desktop .page-Home .descrizione {
  display: flex;
  width: 740px;
  height: 78px;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 147px;
  top: 57px;
  font-size: 2em;
}
.root-Mobile .page-Home .descrizione {
  font-size: calc(1.2em + 1vw);
}